.sk-list
  div
    .message Improve API
    footer
      span.date 6 days ago
      span.author Jeremie Taboada
  div
    .message Improve API
    footer
      span.date 6 days ago
      span.author Jeremie Taboada
