.sk-button-group
  button
    span.sk-icon.icon-circle-plus
    | Create
  button
    span.sk-icon.icon-folder
    | Open
  button
    span.sk-icon.icon-cloud-download
    | Clone
.sk-list
  gb-repository(name="craftboy")
  gb-repository(name="artwork")
  gb-repository(name="director")
