.sk-button-group
  button
    span.sk-icon.icon-circle-plus
    | Create
  button
    span.sk-icon.icon-folder
    | Open
  button
    span.sk-icon.icon-cloud-download
    | Clone
.sk-list
  .sk-box craftboy
  .sk-box artwork
  .sk-box director