.sk-button-group
  button(ng-click="repositories.create()")
    span.sk-icon.icon-circle-plus
    | create
  button(ng-click="repositories.open()")
    span.sk-icon.icon-folder
    | open
  button(ng-click="repositories.clone()")
    span.sk-icon.icon-cloud-download
    | clone

.sk-list(ng-show="data.list.length")
  gb-repository(
    ng-repeat="repo in data.list"
    alias="{{repo.alias}}"
    autoselect="data.current"
    )
p(ng-hide="data.list.length") No repository yet.