.sk-form

  .sk-description Merge mode
  .sk-select
    select(name="merge")
      option Rebase
      option Pull
    span.icon-arrow-right

  .sk-description Graphic theme
  .sk-select
    select(name="theme")
      option Flat
      option Squared
      option Blured
      option Dark
      option Clear
    span.icon-arrow-right

  .sk-description Gitignore
  textarea
    | bower_components
    | node_modules
    | *~
