.sk-form

  h2 General

  label Merge mode
  .sk-select
    select(name="merge")
      option Rebase
      option Pull
    span.icon-arrow-right

  h2 Appearence

  label Theme
  .sk-select
    select(name="theme")
      option Default
    span.icon-arrow-right
  label Menu buttons
  .sk-select
    select(name="theme")
      option Icon
      option Icon+Text
      option Text
    span.icon-arrow-right

  h2 Gitignore

  textarea
    | bower_components
    | node_modules
    | *~
  button Open JSON