.sk-form

  .sk-description Refresh
  label Local
  input(type="text", value="1.0")
  label Remote
  input(type="text", value="60.0")

  .sk-description Merge mode
  .sk-select
    select(name="merge")
      option Rebase
      option Pull
    span.icon-arrow-right

  .sk-description Theme
  .sk-select
    select(name="theme")
      option Default
    span.icon-arrow-right

  .sk-description Menu style
  .sk-select
    select(name="theme")
      option Icon
      option Icon+Text
      option Text
    span.icon-arrow-right

  .sk-description Gitignore
  textarea
    | bower_components
    | node_modules
    | *~

  button Open JSON