
.description merge mode
select(name="merge")
  option Rebase
  option Pull

.description theme 
select(name="theme")
  option Flat
  option Squared
  option Blured
  option Dark
  option Clear

.description gitignore
textarea
  | bower_components
  | node_modules
  | *~
