
@import "sk.styl"

.sk-view
  margin auto
  max-width 960px

.sk-icon.icon-branch
  transform translate(-3px, 3px) rotate(-65deg)
  &:before
    content: "\e081"
  &:hover
    transform translate(-3px, 3px) rotate(-65deg) scale(1.2)
  &.selected
    color #fff
    transform translate(-3px, 3px) rotate(-65deg) scale(1.2)

.gb-file-status
  &:last-child
    margin-bottom 20px

.gb-commit-input
  margin-bottom 20px

.gb-commit

  &.remote
    opacity 0.5
    background lighten(color_primary, 45)
    border border_size solid color_primary
    &:hover
      border border_size solid darken(color_primary, 10)

  &.local
    background lighten(color_primary, 45)
    border border_size solid color_primary
    &:hover
      border border_size solid darken(color_primary, 10)