
@import "sk.styl"

.loading
  color color_gray
  font-size 2em
  padding small_space * 2

a.sk-icon
  border-bottom none

.sk-view
  margin auto
  max-width 960px

.sk-icon.icon-branch
  transform translate(-3px, 3px) rotate(-65deg)
  &:before
    content: "\e081"
  &:hover
    transform translate(-3px, 3px) rotate(-65deg) scale(1.2)
  &.selected
    color #fff
    transform translate(-3px, 3px) rotate(-65deg) scale(1.2)

.gb-file-diff
  .diff-content
    border border_size solid color_gray
    overflow auto
    height 600px // TODO: find how to do something "generic"
    font-size .8em
    .col
      line-height 2em
      float left
      display inline-block
      width big_space * 2
      height 100%
      background rgba(0, 0, 0, 0.05)
      .lineno
        display inline-block
        width 30px
        text-align center
    .code
      overflow hidden // find a way to do it better...
      margin-left big_space * 2
      .line
        line-height 2em
        padding-left small_space
        &.plus
          background alpha(color_success, 0.2)
        &.minus
          background alpha(color_error, 0.2)
    .lineno
      font-family font_code

  .sk-button-group
    margin-top small_space * 2
    button
      width 30%

.gb-file-status
  .name
    display block
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
  &:last-child
    margin-bottom 20px

.gb-commit-input
  margin-bottom 20px

.gb-commit

  &.remote
    opacity 0.5
    border border_size solid color_primary
    &:hover
      border border_size solid darken(color_primary, 10)

  &.local
    border border_size solid color_primary
    &:hover
      border border_size solid darken(color_primary, 10)

.gb-branch
  &.used
    border border_size solid darken(color_gray, 50)
  a
    font-size .9em
    padding-right small_space
    color #888
    &.sk-icon
      padding-right 0
    &:hover
      color #444
      border-bottom none

#command
  .sk-container
    padding big_space
    .sk-box
      .params
        color #888
        font-size .9em
  #command-input
    padding small_space big_space
    background transparent
    border none
    color white
    font-size 2em