
@import "sk.styl"

.sk-icon.icon-branch
  transform translateY(3px) rotate(-90deg)
  &:before
    content: "\e081"
  &:hover
    transform translateY(3px) rotate(-90deg) scale(1.2)
  &.selected
    color #fff
    transform translateY(3px) rotate(-90deg) scale(1.2)

// .gb-commit
//   padding 20px
//   border-bottom 1px solid #ccc
//   &:last-child
//     border-bottom none
