
// Dependencies

@import url("vendors/bariol/bariol.css")
@import url("vendors/feather/feather.css")

// Config

small_space = 10px
big_space = small_space * 4

color_primary = #3498db
color_error = #e2574c
color_success = #2ecc71
color_background = #2c3e50
color_gray = #ccc

border_size = 3px
border_radius = 0
font_title = 'bariol' sans-serif
font_body = 'bariol' sans-serif
transition_duration = .25s
nav_height = 90px

// Anims

@keyframes appear
  from
    opacity 0
    transform scale(0.9)
  to
    opacity 1
    transform scale(1)

// Reset

body
  box-sizing border-box
  padding 0
  margin 0
  color #444
  font-family font_body
  font-size 1.2em

*, *:before, *:after
  box-sizing inherit

h1, h2, h3, h4, h5, h6
  font-family font_title
  font-weight normal
  &:first-child
    margin-top 0

p
  padding 0
  margin 0

// General

.sk-clearfix
  clear both

.sk-description
  font-size 1.3em

.sk-small
  font-size .8em
  color #aaa

.sk-right
  float right

.sk-icon
  cursor pointer
  color #888
  &:hover
    color #444

.sk-box
  padding small_space
  margin-top small_space
  border border_size solid #ccc
  cursor pointer
  &:hover
    border border_size solid #aaa
  &.selected
    border border_size solid color_primary

a
  color color_primary
  text-decoration none
  cursor pointer
  &:hover
    color darken(color_primary, 10)
    border-bottom 1px solid darken(color_primary, 10)

.sk-button-group
  button
    margin-right small_space
    &:last-child
      margin-right 0
  margin-bottom small_space

button
  .sk-icon
    color #fff
    margin-right small_space
    &:hover
      color #fff
  font-family font_body
    
  &.sk-disabled
    background color_gray
    border border_size solid darken(color_gray, 10)
    cursor default
    &:hover
      background color_gray

  margin 0
  padding small_space
  background color_primary
  color white
  border none
  font-size 1em
  border-radius border_radius
  outline none
  cursor pointer
  border border_size solid darken(color_primary, 10)
  &:hover, &.selected
    background darken(color_primary, 10)

input[type="text"], input[type="search"], textarea
  font-family font_body
  font-size 1em
  border border_size solid #ccc
  padding small_space
  margin 0
  outline none
  border-radius border_radius
  width 100%
  &:focus
    border border_size solid darken(color_primary, 10)

textarea
  margin small_space 0
  min-height 200px

.sk-select
  position relative
  span
    position relative
    right 35px
    color #aaa
  select
    cursor pointer
    font-family font_body
    font-size .9em
    -webkit-appearance none
    border-radius 0
    border border_size solid #ccc
    padding small_space small_space * 2
    background #fff
    margin small_space 0
    outline none
    min-width 200px
    &:hover
      border border_size solid color_primary

nav
  z-index 1 // should be on the top
  padding small_space
  background color_background
  text-align center
  position fixed
  width 100%
  top 0
  height nav_height
  button
    text-transform uppercase
    margin-top small_space
    color #aaa
    background transparent
    border none
    margin-right small_space
    &.selected, &:hover
      color white
      background transparent
      border-bottom border_size solid white
    &:last-child
      margin-right 0
  .sk-icon
    transition transition_duration
    padding small_space small_space * 2
    font-size 2.4em
    transform scale(0.8)
    color #aaa
    &:hover
      color #aaa
      transform scale(1)
    &.selected
      color #fff
      transform scale(1)

.sk-container
  margin-top nav_height

// Directives

.sk-alert
  left 0
  position fixed
  width 100%
  bottom -200px
  padding small_space * 2
  color white
  cursor pointer
  transition .3s
  &.selected
    bottom 0px
  &.info
    background color_primary
    border border_size solid darken(color_primary, 10)
    &:hover
      background darken(color_primary, 10)
  &.success
    background color_success
    border border_size solid darken(color_success, 10)
    &:hover
      background darken(color_success, 10)
  &.error
    background color_error
    border border_size solid darken(color_error, 10)
    &:hover
      background darken(color_error, 10)

.sk-textinput
  display block
  width 100%
  input[type="text"]
    width 70%
    border-radius border_radius 0 0 border_radius
    border-right none
    border-left border_size solid darken(color_primary, 10)
    border-bottom border_size solid darken(color_primary, 10)
    border-top border_size solid darken(color_primary, 10)
  button
    width 30%
    border-radius 0 border_radius border_radius 0

.sk-view
  padding big_space
  animation appear transition_duration

.sk-checklist
  padding small_space 0

.sk-checkitem
  padding small_space
  color #444
  cursor pointer
  border border_size solid transparent
  &.current
    background #eee
    border border_size solid #ccc

.sk-overlay
  padding small_space big_space
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background rgba(255, 255, 255, 0.9)
  z-index 2
  .close
    font-size 1.5em
    cursor pointer